body {
	font-family: 'Play', sans-serif;
	margin: 0;
	font-size: 14px;
	color: #6c7279;
	-webkit-font-smoothing: antialiased;

	background-color: #fff;
	/*font-family: 'Akaya Telivigala', cursive;*/
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px
}

/* Header */
.header {
	width: 100%;
	height: 95px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header.fixed {
	height: auto;
	
	position: fixed;
	background-color: #31344ef2;
}

.header.fixed .header__inner {
	padding: 15px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	padding: 35px 0px;
	align-items: center;
}

.header__link {
	text-decoration: none;
}

.header__logo {
	text-transform: uppercase;
	background: linear-gradient(45deg, #ac3897 33%, #4417e0 66%, #4417e0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	display: table;
	font-size: 33px;
	font-weight: 700;
	-webkit-text-stroke: 0.1px #fff;
}


/* Nav */
.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.nav__link {
	margin-left: 45px;
	color: #fff;
	text-decoration: none;
	opacity: .75;

	transition: opacity .2s linear;
}

.nav__link:first-child {
	margin-left: 0;
}

.nav__link:hover {
	opacity: 1;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-top: 141px;
	
	background: #31344e url(../images/bg.jpg) center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	text-align: center;

}

.intro__title {
	margin: 0 0 30px;

	font-family: 'Play', sans-serif;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.intro__subtitle {
	margin-bottom: 60px;

	font-family: 'Akaya Telivigala', cursive;
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
}

/* Features */
.features {
	display: flex;
	flex-wrap: wrap;
	margin: 100px 0;
}

.features__item {
	width: 33.33333%;
	padding: 0 40px;
	margin: 25px 0;

	text-align: center;
}

.features__icon {
	height: 127px;
	margin-bottom: 10px;
}

.features__title {
	margin-bottom: 10px;

	font-size: 15px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.features__text {
	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
}

/* Gallery */
.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery__item {
	width: 25%;
	height: 700px;

	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;

	position: relative;
	overflow: hidden;
}

.gallery__item:hover .gallery__content {
	opacity: 1;
}

.gallery__photo {
	min-width: 100%;

	position: absolute;
	top: 30%;
	left: 48%;
	z-index: 1;

	transform: translate3d(-48%, -30%, 0);
}

.gallery__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

	background-color: rgba(232, 69, 69, .75);

	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	opacity: 0;
	transition: opacity .2s linear;
}

.gallery__title {
	margin-bottom: 5px;

	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.gallery__text {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

/* Team */
.team {
	margin: 100px 0 70px;
}

.team__inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -40px;
}

.team__item {
	width: 25%;
	padding: 0 40px;
	margin-bottom: 30px;

	transition: transform .2s linear;
}

.team__item:hover {
	transform: translate3d(-5%, -5%, 0);
}

.team__photo {
	margin-bottom: 20px;

	display: block;
	max-width: 100%;
	max-height: 310px;
	height: auto;
}

.team__name {
	margin-bottom: 8px;

	font-size: 22px;
	color: #333;
}

.team__prof {
	margin-bottom: 15px;

	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
}

.team__text {
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.5;
	color: #6c7279;
}

/* Social */
.social {
	display: flex;

}

.social--footer {
	justify-content: center;
}

.social__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-right: 5px;

	background-color: #fff;
	border: 1px solid #e8ecee;
	transition: background .2s linear;
}

.social__icon {
	display: block;
	height: 24px;

	fill: #c6cacc;

	transition: fill .2s linear;
}

.social__item:hover .social__icon {
	fill: #654783;
}

.social__item:hover {
	background-color: #e8ecee;
}

.social--footer .social__item {
	background-color: transparent;
	border-width: 2px;
	border-color: #fff;
	border-radius: 2px;
}

.social--footer .social__item:hover {
	background-color: #fff;
}

.social--footer .social__icon {
	fill: #fff;
}

/* Comments */
.comments {
	overflow: hidden;
	background-color: #53354a;
}

.comments__slider {
	height: 500px;
	overflow: hidden;
}

.comments__slider.slick-initialized {
	height: auto;
}

.comments__item {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.comments__photo {
	width: 50%;
	height: 500px;
	position: relative;
}

.commets__img {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}

.comments__content {
	width: 50%;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comments__text {
	margin-bottom: 25px;

	font-family: 'Akaya Telivigala', cursive;
	font-style: italic;
	font-size: 36px;
	line-height: 1.2;
	color: #fff;
}

.comments__name {
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

.slick-dots {
	margin: 0;
	padding: 0 0 10px;
	list-style: none;
	width: 50%;
	display: flex;
	justify-content: center;

	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.slick-dots button {
	width: 15px;
	height: 15px;
	padding: 0;

	margin-left: 3px;

	opacity: 0.5;

	background: #fff;
	border: 0;
	border-radius: 50%;
	cursor: pointer;

	font-size: 0;
	color: transparent;
}

.slick-dots .slick-active button {
	opacity: 1;
}

.slick-dots button:focus {
	outline: none;
}

/* Footer */
.footer {
	background-color: #3a3e64;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	padding: 70px 0;
}

.footer__block {
	width: 33.33333%;
	padding: 0 15px;

	text-align: center;
}

.footer__title {
	margin-bottom: 10px;

	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
}

.footer__text {
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.5);
	font-style: normal;
}

/* Copyright */
.footer__copyright {
	padding: 20px 0;

	background-color: #313454;
}

.copyright__text {
	text-align: center;
	color: #808080;
	line-height: 1.5;
	font-size: 14px;
}

.copyright__text span {
	color: #fff;
}

/* Bmenu */
.burger {
	display: none;
	padding: 9px 2px;

	cursor: pointer;

	background: none;
	border: 0;
}

.burger:focus {
	outline: none;
}

.burger__item {
	display: block;
	width: 30px;
	height: 3px;

	background-color: #fff;
	outline: none;

	font-size: 0;
	color: transparent;
	position: relative;
}

.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	z-index: 1;

	background-color: #fff;
}

.burger__item:before {
	top: -8px;
}

.burger__item:after {
	bottom: -8px;
}

/* Media */
@media (max-width: 1300px) {
	/* Gallery */
	.gallery__item {
		width: 50%;
	}

	.team__photo {
		max-height: 222px;
	}
}

@media (max-width: 1105px) {

	/* Team */
	.team__name {
		font-size: 12px;
	}
}

@media (max-width: 991px) {
	/* Intro */
	.intro__title {
		font-size: 40px;
	}

	/* Nav */
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;
		text-align: right;

		position: absolute;

		background-color: #31344ef2;
		top: 100%;
		right: 0;
	}

	.nav.show {
		display: flex;
	}

	.nav__link {
		padding: 9px 15px;
	}

	/* Burger */
	.burger {
		display: block;
	}

	/* Features */
	.features__item {
		width: 50%;
	}

	/* Team */
	.team__item {
		width: 50%;

		text-align: center;
	}

	.team__photo {
		margin-left: auto;
		margin-right: auto;
	}

	.social {
		justify-content: center;
	}

	/* Comments */
	.comments__photo {
		width: 100%;
		margin: 15px 0 40px;
		overflow: hidden;
	}

	.comments__content {
		width: 100%;
		padding-left: 0;
		padding-bottom: 40px;
	}
}

@media (max-width: 767px) {
	/* Intro*/
	.intro {
		height: auto;
		padding-top: 130px;
		padding-bottom: 30px;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {
		font-size: 16px;
		margin-bottom: 30px;
	}

	/* Features */
	.features__item {
		width: 100%;
		margin: 30px 0;
		padding-left: 0;
		padding-right: 0;
	}

	/* Gallery */
	.gallery__item {
		width: 100%;
		height: 300px;
	}

	/* Team */
	.team {
		margin: 60px 0 30px 0;
	}

	.team__item {
		width: 100%;
	}

	.team__name {
		font-size: 20px;
	}

	.team__prof{
		font-size: 14px;
	}

	.team__text {
		font-size: 10px;
	}

	/* Comments */
	.comments__text {
		font-size: 25px;
	}

	/* Footer */
	.footer__inner {
		padding: 30px 0;
	}

	.footer__block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 25px;
	}

	.footer__block:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 414px) {
	/* Comments */
	.comments__img {
		right: -100px;
	}
}
